body {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
			
	background-color: #ffffff;
	
	margin: 0 auto;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	-webkit-clip-path: inset(100%);
			clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

.container {
	width: 1150px;
	margin: 0 auto;
	padding: 0 10px;
}

.button {
	border: none;
	cursor: pointer;
	background-color: transparent;
	color: inherit;
}

/* header */ 

.main-header {
	color: #ffffff;
}

.menu-wrapper {
	width: 100%;
	min-height: 950px;
	position: relative;
	
	background: #79156a url("../img/background-panteon.jpg") no-repeat 50% 50%;
}

.main-header .top-menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 40px;
	margin-bottom: 170px;
}

.top-menu p,
.top-menu .menu {
	position: relative;
	margin: 0;
	padding: 0;
}

.top-menu .header-logo {
	width: 195px;
	padding-left: 65px;
}

.top-menu .header-logo::before {
	content: "";
	
	position: absolute;
	left: 2px;
	top: -4px;
	
	width: 48px;
	height: 48px;
	
	background: url("../img/logo.png") no-repeat 0 0;  
}

.header-logo {
	font-size: 12px;
	line-height: 18px;
}

.header-logo span {
	text-transform: uppercase;
	font-size: 18px;
}

.top-menu .menu {
	font-size: 18px;
	line-height: 24px;
	
	width: 120px;
	padding-right: 65px;
}

.top-menu .menu::after {
	content: "";
	
	position: absolute;
	right: 0px;
	top:  10px;
	
	width: 47px;
	height: 18px;
	
	background: url("../img/menu.svg") no-repeat 0 0;  
}

.bottom-header {
	display: flex;
	margin: 0 auto;
	padding-left: 127px;
}

.bottom-header .pantheon-decoration {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pantheon-decoration li {
	font-size: 24px;
	line-height: 50px;
	color: #ff9ebd;
	text-transform: uppercase;
}

.pantheon-decoration:nth-child(1) {
	margin-right: 32px;
	opacity: 0.1;
}

.pantheon-decoration:nth-child(2) {
	margin-right: 80px;
	opacity: 0.5;
}

.caption {
	font-size: 37px;
	line-height: 50px;
	font-weight: 700;
	text-transform: uppercase;
	
	width: 620px;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.caption span:first-child {
	font-weight: 100;
}

.caption span:nth-child(2) {
	font-size: 195px;
	line-height: 170px;
	font-weight: 700;
	margin-left: -10px;
}

.presentation-panteon {
	display: flex;
}

.presentation-panteon img {
	opacity: 0.7;
}

.watch-video {
	position: relative;
}

.watch-video-option {
	position: absolute;
	left: 170px;
	top: 120px;
	
	display: flex;
	
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
}

.watch-video .watch {
	width: 130px;
	margin-left: 55px;
	padding: 20px 0;
}

.watch-video img {
	width: 582px; 
	height: 292px;
}

.watch-video button {
	background-color: transparent;
	border: transparent;
}

.watch-video button::before {
	content: "";
	
	position: absolute;
	left: 0px;
	top: 0px;
	
	width: 52px;
	height: 52px;
	background-color: #e12457;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1;
}

.watch-video button::after {
	content: "";
  	
	position: absolute; 
	left: 22px;
	top: 19px;
	
	box-sizing: content-box;
	width: 0;
	height: 0;

	border: 14px solid  #ffffff;
	opacity: 1;
	border-top-width: 7px;
	border-top-color: transparent;
	border-bottom-width: 7px;
	border-bottom-color: transparent;
	border-right-color: transparent;
	z-index: 2;
	cursor: pointer;
}

.city-index {
	font-size: 14px;
	line-height: 14px;
	
	width: 115px;
	
	position: relative;
	margin: 112px 0 0 64px;
	color: #ffcfdf;
}

.city-index::before {
	content: "";
	
	position: absolute;
	top: 31px;
	left: -143px;
	
	width: 118px;
	height: 1px;
	
	background-color: #ff9ebd;
}

.down-button {
	background-color: transparent;
	border: transparent;
	position: relative;
	margin-bottom: 141px;
}

.down-button::before {
	content: "";
	
	position: absolute;
	top: 23px;
	left: 0;
	
	width: 75px;
	height: 75px;
	
	background-color: #ac1c60;
	border-radius: 50%;
	cursor: pointer;
}

.down-button::after {
	content: "";
	
	position: absolute;
	top: 47px;
	left: 27px;
	
	width: 24px;
	height: 23px;
	
	background: url("../img/down.svg") no-repeat 0 0;
	cursor: pointer;
}


/* main */


.info-mars-wrapper {
	width: 100%;
	min-height: 212px;
	background-color: #fff5f8;
	
	margin-bottom: 85px;
}

.info-mars {
	list-style: none;
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	padding: 53px 10px 0 10px;
}

.info-mars li {
	margin: 0;
	margin-right: 50px;
	padding: 0;
	width: 130px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.info-mars .temperature {
	margin: 0;
	width: 100px;
}

.info-mars .number {
	font-size: 48px;
	line-height: 24px;
	font-weight: 700;
	color: #e12457;
	
	padding: 0;
	margin: 0;
	margin-bottom: 24px;
}

.info-mars .description {
	font-size: 13px;
	line-height: 18px;
	color: #4c4c4c;
	
	padding: 0;
	margin: 0;
	margin-bottom: 57px;
}

.remember-mars {
	position: relative; 
}

.remember-mars h2 {
	font-size: 60px;
	line-height: 30px;
	font-weight: 700;
	color: #e12457;
	
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
}

.question-remember-mars {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 200px;
	margin-bottom: 128px;
}

.question-remember-mars .description-of-mars {
	width: 470px;
	margin-right: 50px;
}

.question-remember-mars .logistics-mars {
	width: 420px;
}

.question-remember-mars h3,
.realization-mask h3 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
}

.question-remember-mars p {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	color: #4c4c4c;
}

.question-remember-mars::before {
	content: "";
	
	position: absolute;
	bottom: 0px;
	left: -80px;
	
	width: 1455px;
	height: 455px;
	z-index: -1;

	background: url("../img/distance.png") no-repeat 0 0;
}

.realization {
	margin: 0;
	margin-bottom: 165px;
	padding: 0;
}

.realization h2 {
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	
	color: #e12457;
	margin: 0;
	margin-bottom: 55px;
	padding: 0;
}

.realization-mask-column {
	display: flex;
	flex-wrap: wrap;
}

.realization-mask {
	width: 700px;
}

.realization-mask p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #4c4c4c;
	
	margin: 0;
	margin-bottom: 22px;
	padding: 0;
}

.realization-mask blockquote {
	position: relative;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	color: #e12457;
	
	margin: 0;
	margin-bottom: 44px;
	padding: 0;
}

.realization-mask blockquote::before {
	content: "";
	
	position: absolute;
	top: -22px;
	left: -48px;
	
	width: 12px;
	height: 12px;
	
	background: url("../img/blockqoute.png") repeat-x 0 0;
}

.photo-mask {
	position: relative;
	
	box-sizing: content-box;
	width: 325px;
	height: 373px;
	
	margin:  0 0 68px 55px;
	padding: 47px 50px 0 0;
}

.photo-mask::before {
	content: "";
	
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	
	width: 325px;
	height: 373px;
	
	background-color: #ffffff;
	border: 10px solid #e12457;
}

.flight-cost {
	display: flex;
	width: 1140px;
	height: 308px;
	position: relative;
	
	background: url("../img/background-rocket.jpg") no-repeat 0 0;
}

.rocket {
	position: relative;
	
	box-sizing: content-box;
	width: 310px;
	height: 310px;
	margin: 0 60px 0 27px;
	padding: 0;
}

.rocket::before {
	content: "";
	
	position: absolute;
	top: -29px;
	left: 0;
	
	width: 310px;
	height: 310px;
	
	background: url("../img/rocket.jpg") no-repeat 0 0;
}

.price-flight {
	color: #ffffff;
	
	margin: 0;
	padding: 0;
	width: 700px;
}

.price-flight h3 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	
	margin: 0;
	padding: 0;
	padding-top: 60px;
	margin-bottom: 30px;
}

.price-flight p {
	font-size: 16px;
	line-height: 24px;
	
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
}

.price-byu {
	display: flex;
	flex-wrap: wrap;
}

.price-byu p {
	font-size: 60px;
	line-height: 24px;
	font-weight: 100;
	
	margin: 0;
	margin-right: 40px;
	padding: 0;
}

.price-byu div {
	position: relative;
	
	font-size: 24px;
	line-height: 24px;
	
	margin: 0;
	margin-right: 100px;
	padding: 0;
}

.price-byu div::after {
	content: "";
	
	position: absolute;
	top: 34px;
	left: 0;
	
	width: 218px;
	height: 1px;
	
	background-color: #ffffff;
}

.byu-flight {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	color: #c2529a;
	
	width: 200px;
	min-height: 57px;
	padding: 16px 0;
	
	background-color: #ffffff;
	border-radius: 26px;
}

.byu-flight:hover,
.byu-flight:focus {
	opacity: 0.5;
}

.byu-flight:active {
	background-color: #ff0000;
	color: #ffffff;
}

.life-mars-wrapper {
	width: 100%;
	background: url("../img/background-space.jpg") no-repeat 0 0;
}

.life-mars {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	
	color: #ffffff;
	
	padding: 0 10px;
	padding-top: 100px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.life-mars h2 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 700;
	
	margin: 0;
	margin-bottom: 73px;
	padding: 0;
}

.first-men {
	position: relative;
	margin: 0;
	margin-bottom: 71px;
	padding: 0;
	
	width: 1139px;
	height: 572px;
}

.first-men button {
	position: absolute;
	left: 50%;
	top: 50%;
	
	width: 52px;
	height: 52px;
	background-color: #e12457;
	border-color: transparent;
	border-radius: 50%;
	
	cursor: pointer;
	z-index: 1;
}

.first-men button::after {
	content: "";
  	
	position: absolute; 
	left: 19px;
	top: 19px;
	
	box-sizing: content-box;
	width: 0;
	height: 0;

	border: 14px solid  #ffffff;
	opacity: 1;
	border-top-width: 7px;
	border-top-color: transparent;
	border-bottom-width: 7px;
	border-bottom-color: transparent;
	border-right-color: transparent;
	z-index: 2;
	cursor: pointer;
}

.selection-column {
	display: flex;
	
	margin: 0;
	padding: 0;
	margin-bottom: 148px;
}

.selection-question {
	list-style: none;
	
	margin: 0;
	padding: 0;

}

.selection-question li {
	margin: 0;
	padding: 0;
	margin-bottom: 65px;
}

.selection-question .button {
	position: relative;
	
	font-size: 16px;
	line-height: 24px;
	
	width: 240px;
	margin: 0;
	padding: 0;
	text-align: left;
	opacity: 0.5;
}

.selection-question .button:hover,
.selection-question .button:focus {
	opacity: 0.7;
}

.selection-question .button:active {
	opacity: 1;
}

.selection-question .button.active {
	opacity: 1;
}

.selection-question .button.active::before,
.selection-question .button.active::after {
	content: "";
	
	position: absolute;
	top: 5px;
	
	width: 9px;
	height: 15px;
	
	background: url("../img/right-arrow.svg") no-repeat 0 0;
}

.selection-question .button.active::before {
	right: 28px;
	opacity: 0.7;
}

.selection-question .button.active::after {
	right: 20px;
	opacity: 0.5;
}


.selection-question .arrow-right {
	position: absolute;
	top: 5px;
	right: 36px;
	
	width: 9px;
	height: 15px;
	
	background: url("../img/right-arrow.svg") no-repeat 0 0;
}

.selection-question .button::after {
	content: "";
	
	position: absolute;
	
}

.live-mars {
	width: 780px;
}

.live-mars h3 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
}

.live-mars p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
}

